@import url(style.css);

.cart-top{
    display: flex;
    background-color: var(--dsc-color-cart-bg);
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--dsc-color-cart-border);
}

.cart-top img{
    width: 78px;
    height: 78px;
}

.cart-bottom{
    background-color: var(--dsc-color-cart-bg);
    padding: 10px 20px 20px 20px;
    color: var(--dsc-color-font-primary);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-cart-border);
}

.cart-bottom h3{
    display: flex;
}

h3{
    color: var(--dsc-color-font-secondary);
}

#first-option{
    margin-top: 20px;
}

.cart-items-quantity{
    display: flex;
}

.cart-items-quantity-atuacly{
    display: flex;
}

.cart-middle img{
    width: 78px;
    height: 78px;
}

.cart-middle{
    background-color: var(--dsc-color-cart-bg);
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--dsc-color-cart-border);
}

.cart-items-quantity-atuacly div{
    color: var(--dsc-color-btn-primary);
    font-weight: 700;
    cursor: pointer;
}

.cart-items-quantity div{
    color: var(--dsc-color-btn-primary);
    font-weight: 700;
    cursor: pointer;
}

.value-items h3{
    display: flex;
}

.cart-items-quantity-atuacly p{
    margin: 0 5px;
}

.cart-items-quantity p{
    margin: 0 5px;
}

.details-container{
    color: var(--dsc-color-font-primary)
}

.one-more-product{
    color: var(--dsc-color-font-primary)
}

