@import url(style.css);

.dsc-card-top{
    display: flex;
    background-color: var(--dsc-color-cart-bg);
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--dsc-color-cart-border);
}

.dsc-card-top img{
    width: 78px;
    height: 78px;
}

.dsc-cart-bottom{
    background-color: var(--dsc-color-cart-bg);
    padding: 10px 20px;
    color: var(--dsc-color-font-primary);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-cart-border);
}

.dsc-cart-bottom h3{
    display: flex;
}

h3{
    color: var(--dsc-color-font-secondary);
}

#first-option-section{
    margin-top: 20px;
}

.dsc-cart-items-quantity{
    display: flex;
}

.dsc-cart-items-quantity-atuacly{
    display: flex;
}

.dsc-cart-middle img{
    width: 78px;
    height: 78px;
}

.dsc-cart-middle{
    background-color: var(--dsc-color-cart-bg);
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--dsc-color-cart-border);
}

.dsc-cart-items-quantity-atuacly div{
    color: var(--dsc-color-btn-primary);
    font-weight: 700;
    cursor: pointer;
}

.dsc-cart-items-quantity div{
    color: var(--dsc-color-btn-primary);
    font-weight: 700;
    cursor: pointer;
}

.dsc-value-items h3{
    display: flex;
}

.dsc-cart-items-quantity-atuacly p{
    margin: 0 5px;
}

.dsc-cart-items-quantity p{
    margin: 0 5px;
}

.dsc-details-container{
    color: var(--dsc-color-font-primary);
    padding: 0px 20px;
}

.dsc-one-more-product{
    color: var(--dsc-color-font-primary);
    padding: 0px 20px;
}
