@import url(style.css);

.dsc-card-top{
    background-color: var(--dsc-color-cart-bg);
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--dsc-color-cart-border);
}

.dsc-card-top img{
    width: 220px;
    height: 219px;
}

#product-details-section{
    padding-top: 20px;
}

.dsc-cart-bottom{
    background-color: var(--dsc-color-cart-bg);
    padding: 10px 20px;
    color: var(--dsc-color-font-primary);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid var(--dsc-color-cart-border);
    border-top: none;
}

.dsc-cart-bottom p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}


.dsc-category{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#eletronics{
    color: var(--dsc-color-font-tertiary);
    background-color: var(--dsc-color-font-primary);
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 7px 30px;
    
}

#computers{
    color: var(--dsc-color-font-tertiary);
    background-color: var(--dsc-color-font-primary);
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 7px 30px;
}